#title {
  color: lightskyblue;
  font-size: 80px;
  text-shadow: black 2px 2px 2px;
  margin-bottom: 35px;
  padding-top: 10px;
}
body {
  background-color: lightslategray;
  color: lightblue;
}

/* #formOne {
  float: left;
} */

#java, #react, #python, #all-b-java {
  display: none;
  float: right;
  width: 50%;
}

#closeButton {
  margin: 1px;
}

.modal-header {
  text-align: left;
}

.modal-title {
  text-align: center;
  color: black;
}